.container {
    border: solid 1px black;
    position: relative;
    width: 100%;
    height: 250px;

    .picker {
        position: absolute;
        top: 5px;
        left: 5px;
        right: 60px;
        bottom: 25px;

        .layer1 {
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, white, rgba(255, 255, 255, 0));
        }

        .layer2 {
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
        }

        .currentColor {
            position: absolute;

            div {
                position: absolute;
                box-sizing: border-box;
                left: -6px;
                top: -6px;
                width: 12px;
                height: 12px;
                border: solid 2px black;
                border-radius: 50%;
            }
        }
    }

    .newColor {
        position: absolute;
        top: 5px;
        width: 50px;
        right: 5px;
        bottom: 50%;
    }
    .initColor {
        position: absolute;
        top: 50%;
        width: 50px;
        right: 5px;
        bottom: 5px;
    }

    .hueBar {
        position: absolute;
        left: 5px;
        right: 60px;
        bottom: 5px;
        height: 15px;
        background: linear-gradient(
            to right,
            #ff0000 0%,
            #ffff00 17%,
            #00ff00 33%,
            #00ffff 50%,
            #0000ff 67%,
            #ff00ff 83%,
            #ff0000 100%
        );

        .currentColor {
            position: absolute;
            height: 100%;

            div {
                position: absolute;
                box-sizing: border-box;
                left: -4px;
                width: 8px;
                top: -2px;
                bottom: -2px;
                border: solid 2px black;
                border-radius: 20%;
            }
        }
    }
}
