@import '../../../theme/theme.scss';

.regionNode {
    font-weight: bold;
    background-color: $primaryLighter2;
}

.hover {
    background-color: $primaryLighter;
    border: solid 2px $primaryColor;
}

@media (prefers-color-scheme: dark) {
    .regionNode {
        background-color: $primaryLighter2Dark;
    }
    .hover {
        background-color: $primaryLighterDark;
        border: solid 2px $primaryColorDark;
    }
}
