{
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "printWidth": 100,
    "jsxBracketSameLine": true,
    "semi": true,
    "bracketSpacing": true,
    "endOfLine": "crlf",
    "arrowParens": "avoid"
}
