language: node_js
sudo: required
addons:
  chrome: stable
node_js:
  - 9
before_install:
  - yarn
install:
  - npm run build
script:
  - xvfb-run npm run test
cache:
  yarn: true
deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  keep-history: true
  on:
    branch: master
  local-dir: ./dist/roosterjs/samplesite