language: node_js
sudo: required
addons:
    chrome: stable
node_js:
    - 9
before_install:
    - yarn
    - cd publish/samplesite/instrumentation-tests && yarn && cd ../../..
install:
    - npm run build:ci
script:
    - xvfb-run npm run test
    # puppeteer-firefox does not run in travis because it depends on a
    # libstdc++6  that is not available in travis.
    # See https://github.com/GoogleChrome/puppeteer/pull/3657
    - xvfb-run npm run instrumentation:chrome
cache:
    yarn: true
deploy:
    provider: pages
    skip-cleanup: true
    github-token: $GITHUB_TOKEN
    keep-history: true
    on:
        branch: master
    local-dir: ./dist/roosterjs
