language: node_js
sudo: required
addons:
    - chrome: latest
    - firefox: latest
node_js:
    - 10
before_install:
    - yarn
install:
    - npm run build:ci
script:
    - xvfb-run npm run test:coverage
    - xvfb-run npm run test:chrome
cache:
    yarn: true
deploy:
    # Deploy demo site to gh-pages
    - provider: pages
      skip-cleanup: true
      github-token: $GITHUB_TOKEN
      keep-history: true
      on:
          branch: master
      local-dir: ./dist/deploy
    # Auto publish if version is changed
    - provider: script
      script: node tools/build.js publish --token $NPM_TOKEN
      skip-cleanup: true
      on:
          branch:
              - master
