.input {
    margin-top: 2px;
    margin-bottom: 2px;
    line-height: 2px;
}

.coordinates {
    width: 30px;
    margin-left: 4px;
}

.button {
    margin-top: 2px;
    margin-bottom: 2px;
}

.title {
    font-weight: bold;
}

.containerInfo {
    line-height: 20px;
}
