.samplePickerContainer {
    background-color: #222222;
    display:flex;
    border: 1px solid black;
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5em;
    min-width: 1.5em;
    justify-content: center;
    align-items: center;
}

.samplePickerColorSwatch {
    display: block;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    margin: .5em;

    box-sizing: border-box;

    &.selected {
        border: 1px solid #FEFEFEFE;
    }
}