$primaryColor: #4466aa;
$primaryLighter: lighten($primaryColor, 5%);
$primaryLighter2: lighten($primaryColor, 50%);
$primaryBorder: #4466aa;
$primaryBackgroundColor: white;

$primaryColorDark: #335599;
$primaryLighterDark: lighten($primaryColorDark, 5%);
$primaryLighter2Dark: lighten($primaryColorDark, 50%);
$primaryBorderDark: #335599;
$primaryBackgroundColorDark: #333333;

@media (prefers-color-scheme: dark) {
    button {
        background-color: $primaryColorDark;
        color: $primaryLighter2;
        border: solid 1px $primaryBorderDark;
    }

    select,
    input,
    textarea {
        background-color: $primaryBackgroundColorDark;
        color: $primaryLighter2;
        border: solid 1px $primaryBorderDark;
    }
}
