.tableRow {
    border-radius: 4px;
    margin-bottom: 2px;
    padding: 1px;
    display: flex;
    font-family: Calibri;
    font-size: 12pt;
    display: block;
    padding: 4px;
    border: dotted 1px #777;
}

.modelTable {
    background-color: #df8;
}
