.menu {
    border: solid 1px #aaa;
    background-color: white;
    box-shadow: 2px 2px 2px #888;
    color: black;
    position: absolute;
    white-space: nowrap;
}

.menuItem {
    padding: 2px;
    cursor: pointer;
    &:hover {
        background-color: #3344ff;
        color: white;
    }
}

.deepMenuItem {
    padding: 2px;
    cursor: pointer;
    margin-top: -15%;
    margin-left: 100%;
    position: absolute;
    &:hover {
        background-color: #3344ff;
        color: white;
    }
}
