@import '../theme/theme.scss';

.editor {
    border: solid 1px $primaryBorder;
    overflow: auto;
    padding: 10px;
    outline: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.dark {
    color: white;
    background-color: #333333;
}
