name: Build and Deploy
on:
    push:
        branches:
            - master
jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v2.3.1
              with:
                  persist-credentials: false

            - name: Set Node Version
              uses: actions/setup-node@v2
              with:
                  node-version: 'v18.16.0'

            - name: Install dependencies
              run: yarn

            - name: Build
              run: npm run-script build:ci

            - name: Install Firefox
              uses: browser-actions/setup-firefox@latest

            - name: Generate code coverage report
              uses: GabrielBB/xvfb-action@v1
              with:
                  run: npm run-script test:coverage

            - name: Deploy
              uses: JamesIves/github-pages-deploy-action@3.6.2
              with:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  BRANCH: gh-pages
                  FOLDER: dist/deploy
