name: Publish
on:
    push:
        branches:
            - releasetest

jobs:
    publish:
        permissions:
            id-token: write # Required for OIDC
            contents: read
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  ref: releasetest

            - name: Set Node Version
              uses: actions/setup-node@v4
              with:
                  node-version: '24'
                  registry-url: 'https://registry.npmjs.org'

            - name: Install dependencies
              run: yarn

            - name: Build
              run: npm run-script build:ci

            - name: Publish
              run: node tools/build.js publish
